<ion-header>
	<ion-navbar>
		<ion-title>Just Right App</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="getServerDetails($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<div class="columns is-mobile">
		<div class="column has-text-centered">
			<h2 class="subtitle">
				Temperature
			</h2>
			<span class="is-size-1">{{temperature.value}}</span>
			<span class="is-size-3">{{temperature.units}}</span>
			<span class="{{temperature.colour}} is-size-1">
				<ion-icon name="{{temperature.direction}}"></ion-icon>
			</span>
		</div>
		<div class="column has-text-centered">
			<h2 class="subtitle">
				Brightness
			</h2>
			<span class="is-size-1">{{brightness.value}}</span>
			<span class="is-size-3">{{brightness.units}}</span>
			<span class="{{brightness.colour}} is-size-1">
				<ion-icon name="{{brightness.direction}}"></ion-icon>
			</span>
		</div>
	</div>
	<div class="section">
		<div class="columns is-mobile">
			<div class="column">
				<button ion-button block outline no-padding large color="danger" (click)="postRequest(0, 1)"><ion-icon name="add"></ion-icon></button>
				<button ion-button block outline no-padding large color="secondary" (click)="postRequest(0, 0)">Just Right</button>
				<button ion-button block outline no-padding large (click)="postRequest(0, -1)"><ion-icon name="remove"></ion-icon></button>
			</div>
			<div class="column">
				<button ion-button block outline no-padding large color="danger" (click)="postRequest(1, 1)"><ion-icon name="add"></ion-icon></button>
				<button ion-button block outline no-padding large color="secondary" (click)="postRequest(1, 0)">Just Right</button>
				<button ion-button block outline no-padding large (click)="postRequest(1, -1)"><ion-icon name="remove"></ion-icon></button>
			</div>
		</div>
	</div>
</ion-content>